.open-sans{
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .nav-bar{
    display: flex;
    justify-content: center;
  }
  .nav-sec{
    width: 70%;
    justify-content: center;
  }
  .nav-content{
    display: flex;
    justify-content: space-between;
  }
  .nav-heading{
    display: flex;
    gap: 15px;
  }
  .nav-anchor a{
    text-decoration: none;
  }
  .nav-anchor{
    margin-top: 25px;
    display: flex;
    gap: 32px;
  }
  .a-home{
    color: rgba(254, 163, 1, 1);
    font-weight: bold;
    font-size: 20px;
  }
  .a-about{
    color: rgba(1, 172, 253, 1);
    font-weight: 500;
    font-size: 20px;
  }
  .a-Facilities{
    color: rgba(5, 212, 223, 1);
    font-weight: 500;
    font-size: 20px;
  }
  .nav-btn{
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    border-radius: 12px;
    background-color: rgba(254, 163, 1, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 20px;
    width: 197px;
    height: 50px;
    margin-top: 16px;
  }
  .nav-hamburger{
    margin-top: 24px;
    display: none;
  }
  .nav-hr{
    display: none;
  }
  .banner-sec{
   display: flex;
   justify-content: center;
   align-items: ;
   gap: 50px;
   /* border: 2px solid turquoise; */
  }
  .banner-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 90%;
    margin-top: 24px;
    margin: 0 auto;
  }
  .banner-content{
    /* border: 2px solid tomato; */
    margin: auto 0;
  }
  .banner-heading{
    font-weight: 700;
    font-size: 56px;
    color: rgba(17, 17, 17, 1);
  }
  .heading-color{
    color: rgba(254, 163, 1, 1);
  }
  .heading-color2{
    color: rgba(1, 172, 253, 1);
  }
  .banner-peragraph{
    font-weight: 400;
    font-size: 20px;
    color: rgba(17, 17, 17, 1);
  }
  .banner-btn{
    width: 197px;
    height: 50px;
    padding: 10px 10px;
    background-color: rgba(17, 17, 17, 1);
    border-radius: 12px;
    font-weight: bold;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
  }
  .banner-container img{
    width: 100%;
    height: 100%;
  }
  .cariculam-section{
  }
  .cariculam-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 46px;
    color: rgba(0, 0, 0, 1);
  }
  .cari-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28.19px;
    width: 90%;
    margin: 0 auto;
  }
  .cariculam-card-1{
    border-radius: 18.86px;
   background-image: linear-gradient(to bottom, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0)) ;
   justify-items: center;
  }
  .card-1-p{
    font-weight: bold;
    font-size: 15.9px;
    color: rgba(100, 200, 255, 1);
  }
  .card-1-head{
    font-weight: bold;
    font-size: 24.52px;
    color: rgba(32, 32, 32, 1);
  }
  .cariculam-card-1 img{
    text-align: center;
  }
  .card-2{
    color: rgba(240, 170, 0, 1);
    font-weight: bold;
    font-size: 15.09px;
  }
  .cariculam-card-2{
    border-radius: 18.86px;
    background-image: linear-gradient(to bottom,rgba(255, 244, 220, 1),rgba(255, 255, 255, 1));
    justify-items: center;
  }
  .card-3{
    color: rgba(135, 0, 255, 1);
    font-weight: bold;
    font-size: 15.09px;
  }
  .cariculam-card-3{
    border-radius: 18.86px;
    background-image: linear-gradient(to bottom,rgba(242, 232, 255, 1),rgba(255, 255, 255, 1));
    justify-items: center;
  }
  .story-section{
   background-image: url(../assets/bg.png);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   width: 100%;
   background-image: linear-gradient(to top,#FEA301,);
   background-image: linear-gradient(to bottom,#FFFFFF);
  }
  .story-container{
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-top: 20px;
  }
  .story-1{
   border-radius: 16px;
   width: 540.27px;
   height: 630.52px;
   background-color: rgba(255, 255, 255, 1);
  }
  .story-1 img{
    width: 100%;
    height: 50%;
    border-radius: 16px;

  }
  .story-1-head{
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    /* width: 80%; */
    margin: 0 30px;
    margin-top: 20px;
  }
  .story-1-p{
    font-weight: 500;
    font-size: 15.34px;
    color: rgba(102, 102, 102, 1);
    /* width: 80%; */
    margin: 0 30px;
    margin-top: 20px;
  }
  .story-grid-sec{
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    row-gap: 15px;
    column-gap: 10px;
  }
.story-grid-sec img{
  width: 100%;
  height: 50%;
  border-radius: 16px;
}
.story-heading-2{
  margin: 0 18px;
  margin-top: 20px;
}
.section-heading{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 46px;
  color: rgba(0, 0, 0, 1);
}
.story-custom{
  /* width: 290.69px;
  height: 301.61px; */
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
}
.story-btn{
  display: flex;
  justify-content: center;
  width: 197px;
  height: 50px;
  padding: 10px 10px;
  border-radius: 12px;
  background-color: rgba(17, 17, 17, 1);
  font-weight: bold;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}
.logo-head{
  display: flex;
}
.anchor-fotter{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.anchor-fotter a{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
}
.footer-container{
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(1, 172, 253, 1);
  align-items: center;
  height: 519px;
}
.footer-heading-1{
  font-weight: bold;
  font-size: 42.14px;
  color: rgba(255, 255, 255, 1);
}
.footer-paragraph{
  font-weight: 400;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
}
.footer-heading-2{
  font-weight: bold;
  font-size: 24px;
  color: rgba(255, 255, 255, 1);
}
.footer-heading-3{
  font-weight: 500;
  font-size: 26px;
  color: #FFFFFF;
}
@media screen and (max-width:576px) {
  .nav-anchor{
    display: none;
  }
  .nav-btn{
    display: none;
  }
  .nav-title{
    display: none;
  }
  .nav-hamburger{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   
  }
  .nav-hamburger img{
    width: 30px;
    height: 30px;
  }
  .banner-container{
    flex-direction: column-reverse;
  }
  .banner-heading{
    font-size: 30px;
  }
  .nav-hr{
    display: block;
    margin-top: 24px;
    width: 100%;
  }
  .cari-content{
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .cariculam-title{
    font-weight: 600;
    font-size: 30px;
  }
  .story-1{
    display: none;
  }
  .story-grid-sec{
    width: 390px;
    grid-template-columns: 180px 180px;
    grid-template-rows: 180px 180px;
    row-gap: 4px;
    column-gap: 4px;
  }
.story-custom{
  width: 173.27px;
  height: 179px;
}
.story-grid-sec img{
  width: 173.27px;
  height: 105.39px;
}
.story-heading-2{
  font-size: 9.13px;
}
.story-btn{
  width: 134px;
  height: 30px;
  font-size: 16px;
  margin-left: 100px;
}
.footer-container{
  flex-direction: column;
  width: 400px;
  height: 642px;
  margin-top: 10px;
}
.logo-head a{
  width: 100%;
  height: 100%;
}
.footer-heading-1{
  font-size: 30px;
}
.footer-paragraph{
  font-size: 18px;
}
.footer-about{
  margin-right: 190px;
}
.footer-logo{
  margin-right: 170px;
}
.footer-heading-2{
  font-size: 20px;
}
.footer-heading-3{
  font-size: 22px;
}
}
